<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/bola.jpg">
      </ion-thumbnail>
      <h1>Bola</h1>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/bola.jpg">
      </ion-thumbnail>
      <h1>Bola</h1>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/bola.jpg">
      </ion-thumbnail>
      <h1>Bola</h1>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
